# Dependencies
node_modules/
.pnp/
.pnp.js

# Build output
.next/
out/
build/
dist/

# Large audio files (use MP3 instead for web)
*.flac

# Testing
coverage/

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
